@mixin boxshadow {
  box-shadow: 0px 0px 20px 1px rgb(233, 233, 233);
  padding: 30px;
  border-radius: 5px;
  @media screen and (min-width: $bp-tablet) {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@mixin boxshadowUnit {
  box-shadow: 0px 0px 20px 1px rgb(233, 233, 233);
  padding: 30px;
  border-radius: 5px;
}

@mixin pageContainer {
  padding: 20px;
}
