@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

$font-body: "Roboto Condensed", sans-serif;
// $font-header: ;

$color-white: #ffffff;
$color-black: #131613;
$color-primary: #0d3052;
$color-black: #aaeeeb;

$bp-mobile: 450px;
$bp-tablet: 768px;