@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

$font-body: "Roboto Condensed", sans-serif;
$font-header: 'Roboto', sans-serif;

$color-white: #ffffff;
$color-black: #131613;
$color-primary: #0d3052;
$color-secondary: #aaeeeb;

$bp-mobile: 450px;
$bp-tablet: 768px;
