@import "variables.scss";
@import "./mixin.scss";

.aboutContainer {
  padding: 20px;
}

.aboutHeader {
  padding: 10px 0;
}

.boxshadow {
  @include boxshadow;
}

.aboutArticle {
  padding: 10px 5px;
  display: inline-block;
}

.imageBox {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 230px;
  margin: 0 5px;
}

.img {
  object-fit: contain;
}

@media screen and (min-width: $bp-mobile) {
  .contentBox {
    display: flex;
    flex-flow: row nowrap;
  }
  .imageBox {
    margin: 12px 15px 0 0;
    min-width: 150px;
    max-height: 230px;
  }
}

@media screen and (min-width: $bp-tablet) {
  .imageBox {
    margin-bottom: 30px;
    margin-right: 30px;
    height: 350px;
    min-width: 230px;
    max-height: 350px;
  }
}
