@import "variables";

.submitted {
  margin: 50px;
  text-align: center;
}

.form {
  width: 280px;
  margin: 10px auto;
  //   text-align: center;
}

.formInput {
  padding: 10px;
}

.formSubmit {
  padding: 10px;
}

.redirect {
  padding: 20px;
}
.redirect a {
  text-decoration: underline;
}

@media screen and (min-width: $bp-mobile) {
  .form {
    width: 370px;
  }
}

@media screen and (min-width: $bp-tablet) {
  .form {
    width: 500px;
  }
}
