@import "./mixin.scss";

.cvContainer {
  padding: 20px;
}

.boxshadow {
  @include boxshadow;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
  .resumeButton {
    margin: 0 5px;
  }
}
