@import "./mixin.scss";
@import "./variables.scss";

.cvContainer {
  @include pageContainer;
  max-width: 400px;
  margin: 0 auto;
}

.boxshadow {
  @include boxshadow;
}

.buttonContainer {
  justify-content: center;
  margin: 10px 0;
  .resumeButton {
    margin: 15px 0;
    display: block;
  }
  .materialIcon {
    vertical-align: middle;
  }
}

@media screen and (min-width: $bp-mobile) {
  .cvContainer {
    width: 400px;
    max-width: none;
  }
}

@media screen and (min-width: $bp-tablet) {
  .cvContainer {
    width: 700px;
  }
}
