@import "variables";

html,
body {
  color: $color-black;
  padding: 0;
  margin: 0;
  font-family: $font-body;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
}
li {
  font-size: 1.5rem;
}

@media screen and (min-width: $bp-mobile) {
  h1 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: $bp-tablet) {
  h1 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2rem;
  }
}
