@import "./mixin.scss";
@import "./variables.scss";

.landingContainer {
  margin: 30px auto;
  max-width: 1000px;
}

.boxShadow {
  @include boxshadow;
}

.mainContent {
  padding: 0 30px 15px 30px;
}
