@import "variables";

.layoutContainer {
  position: relative;
  min-height: 100vh;
}

.mainContentWrapper {
  padding-bottom: 15vh;
}

.hiddenLink {
  position: absolute;
  background-color: $color-secondary;
  padding: 10px;
  margin: 5px;
  transform: translateY(-140%);
  transition: 0.5s;
}

.hiddenLink:focus {
  transform: translateY(0);
}
