@import "variables.scss";
@import "./mixin.scss";

.cardContainer {
  @include boxshadowUnit;
  margin: 30px;
  justify-self: center;
}

@media screen and (min-width: $bp-tablet) {
  .cardContainer {
    margin: 5%;
  }
}
