.projectContent {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  justify-content: center;
}

.projectDescription {
  display: none;
  opacity: 0;
}

.projectContent:hover .projectTitle {
  font-size: 1.5rem;
}
.projectContent:hover .projectDescription {
  display: block;
  opacity: 1;
}
