@import "variables.scss";
@import "./mixin.scss";

.projectsContainer {
  @include pageContainer;
}

.contentBox {
  margin: 0 auto;
  width: 80vw;
}

@media screen and (min-width: $bp-tablet) {
  .contentBox {
    width: 60vw;
  }
}
